<div mat-dialog-content>

    <mat-form-field>
        <mat-label>Function:</mat-label>
        <select matNativeControl [(ngModel)]="selectedFunctionId">
      <option *ngFor="let f of functions" [value]="f.id">{{ f.functionName }}</option>
    </select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>RepRapport:</mat-label>
        <select matNativeControl [(ngModel)]="selectedRepRapportId">
      <option *ngFor="let r of repRapports" [value]="r.id">{{ r.name }}</option>
    </select>
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="assignRepRapportToFunction()">Assign</button>
</div>